@page "/categorypage"


<h3>Strona kategorii</h3>
<p>
<button class="btn btn-primary text-white" @onclick="@(() => _categoryViewModel.AddCategory())">
    Dodaj nową kategorię
</button>
    <label style="margin-left: 100px;">Wyszukaj</label>
    <input  @bind-value="_categoryViewModel.SearchingPattern" @bind-value:event="oninput"/>
</p>
<table class="blueTable">
    <thead>
        <tr>
            <th>Nazwa kategorii</th>
            <th>Opis kategorii</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _categoryViewModel.CategoryList)
        {
            <tr>

                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-primary btn-sm text-white" @onclick="@(() => _categoryViewModel.EditCategory(item))">
                        Edytuj
                    </a>
                    <a class="btn btn-danger btn-sm text-white" @onclick="@(() => _categoryViewModel.DeleteCategory(item))">
                        Usuń
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
