@page "/productpage"


<table style="text-align: left;">
    <tbody>
        <tr>
            <td>
                <h3>Strona produktów</h3>
            </td>
            <td width="100"></td>
            <td>
                <MatButton Raised="true" Icon="@MatIconNames.Playlist_add" OnClick="@_productViewModel.AddProduct" Style="background-color: green">Dodaj Produkt</MatButton>
            </td>
        </tr>
    </tbody>
</table>


<div>
    <MatTable Items="@_productViewModel.ProductList"
              LoadInitialData="true"
              Striped="true"
              FilterByColumnName="ItemId"
              AllowSelection="true"
              DebounceMilliseconds="50" PageSize="25" Style="width:100%">
        <MatTableHeader>
            <th style=" font-size:small">Kod towaru</th>
            <th>Nazwa Towaru</th>
            <th>Cena Netto</th>
            <th>VAT</th>
            <th>Cena Brutto</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
            <th>Kategoria</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ItemId</td>
            <td width="80%">@context.Name</td>
            <td>@context.PriceNet</td>
            <td>@context.Tax</td>
            <td>@context.PriceGross</td>
            <td><MatButton Raised="true" Icon="@MatIconNames.Edit" OnClick="@(() => _productViewModel.EditProduct(context))"></MatButton></td>
            <td><MatButton Raised="true" Icon="@MatIconNames.Delete" OnClick="@(() => _productViewModel.DeleteProduct(context))" Style="background-color: red"></MatButton></td>
            <td style="font-weight: bold">@context.PrimaryCategory.Name</td>
        </MatTableRow>
    </MatTable>
</div>
