@page "/mycart";

<h3>Zawartość Twojego koszyka</h3>

<div>
    <MatTable Items="@_userCartViewModel.ItemsInCart"
              LoadInitialData="true"
              Striped="true"
              FilterByColumnName="ItemId"
              AllowSelection="true"
              DebounceMilliseconds="50" PageSize="25" Style="width:100%">
        <MatTableHeader>
            <th>Kategoria</th>
            <th>Kod</th>
            <th>Nazwa</th>
            <th width="20%">Ilość</th>
            <th>Cena Brutto</th>
            <th>Wartość Brutto</th>
            <th>Rezygnacja</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.CategoryName</td>
            <td>@context.ItemId</td>
            <td>@context.ItemName</td>
            <td><MatNumericUpDownField Label="Ustaw ilość" @bind-Value="@context.Quantity"/></td>
            @*<td><MatNumericUpDownField Label="Ustaw ilość" @bind-Value="@context.Quantity" @onkeydown="@(() => _myCartViewModel.RecalculateOrder())" /></td>*@
            <td>@String.Format("{0:f2} zł", @context.PriceGross)</td>
            <td>@String.Format("{0:f2} zł", @context.ValueGross)</td>
            <td><MatButton Raised="true" Icon="@MatIconNames.Delete" OnClick="@(() => _userCartViewModel.RemoveFromCart(context))" Style="background-color: red"></MatButton></td>
        </MatTableRow>
    </MatTable>

    <p>
        <MatTextField @bind-Value="@_userCartViewModel.SummaryOrderValue" ReadOnly="true" Label="Łączna wartość zamówienia" Outlined="true" ></MatTextField>
    </p>
    <p>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Dodatkowe powiadomienie dla sprzedawcy:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @bind="_userCartViewModel.Notification"></textarea>
        </div>
    </p>
    <p>
        <button type="button" class="btn btn-primary" @onclick="_userCartViewModel.SaveOrder">Składam zamówienie</button>
    </p>
</div>
