@using Sklepik.Model

<div class="container">
    <div class="row">
        <div class="col-md-12 jobs_index_middle_panels">
            <div class="card bg-light">
                <h5 class="card-header">
                    <table style="text-align: left; width: 100%;"
                           border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td><small><small>Zamówienie nr:</small></small></td>
                                <td><small><small>@UserOrder.Id</small></small></td>
                                <td>
                                    <button class="btn btn-danger  float-sm-right" disabled ="@UserOrder.CanBeDeleted"
                                            @onclick="@(() => OnClickDel.InvokeAsync(UserOrder))">
                                        Usuń całe zamówienie
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td><small>Status:</small></td>
                                <td><small>@UserOrder.StatusFormatted</small></td>
                            </tr>
                            <tr>
                                <td><small>Data złożenia:</small></td>
                                <td><small>@UserOrder.CreationDateFormatted</small></td>
                            </tr>
                            <tr>
                                <td><small>Wartość:</small></td>
                                <td><small>@UserOrder.SummaryValue</small></td>
                            </tr>
                        </tbody>
                    </table>

                </h5>
                @*<h5 class="card-header">
                        Zamówienie nr: @MyOrder.Id
                        <button class="btn btn-danger float-sm-right"
                                @onclick="@(() => OnClickDel.InvokeAsync(MyOrder))"
                                >Usuń całe zamówienie</button>
                        <div><label>Status:</label><label style="margin-left: 10px;">@MyOrder.StatusFormatted</label></div>
                        <div><label>Data złożenia:</label><label style="margin-left: 10px;">@MyOrder.CreationDateFormatted</label></div>
                        <div><label>Wartość:</label><label style="margin-left: 10px;">@MyOrder.SummaryValue</label></div>
                    </h5>*@
                <div class="card-body">
                    <MatTable Items="@UserOrder.AvailableItems"
                              LoadInitialData="true"
                              ShowPaging="false"
                              ShowFooter="false"
                              Striped="true"
                              DebounceMilliseconds="50">
                        <MatTableHeader>
                            <th>Kod</th>
                            <th>Nazwa</th>
                            <th>Ilość</th>
                            <th>Cena</th>
                        </MatTableHeader>
                        <MatTableRow>
                            <td>@context.ItemId</td>
                            <td width="60%">@context.ItemName</td>
                            <td>@context.Quantity</td>
                            <td>@context.PriceGross</td>
                        </MatTableRow>
                    </MatTable>
                </div>
                <div class="card-footer text-muted">@UserOrder.Notification</div>
            </div>
            <br />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public UserOrderHeaderModel UserOrder { get; set; }
    [Parameter]
    public EventCallback<UserOrderHeaderModel> OnClickDel { get; set; }
}


@*

    <MatTable Items="@MyOrder.Items"
              LoadInitialData="true"
              ShowPaging="false"
              ShowFooter="false"
              Striped="true"
              DebounceMilliseconds="50">
        <MatTableHeader>
            <th>Kod</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ItemId</td>
            <td width="60%">@context.ItemName</td>
            <td>@context.Quantity</td>
            <td>@context.PriceGross</td>
        </MatTableRow>
    </MatTable>

*@